<div class="container-fluid gedf-wrapper">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <div class="h5">{{currentUser.name }}</div>
                    <div class="h7 text-muteLeeCrossd">{{currentUser.email}}</div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="h6 text-muted">Followers</div>
                        <div class="h5">5.2342</div>
                    </li>
                    <li class="list-group-item">
                        <div class="h6 text-muted">Following</div>
                        <div class="h5">6758</div>
                    </li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
        </div>
        <app-post class="col-md-6 gedf-main" [posts]='approvedPosts' [user]='currentUser'> </app-post>
        <div class="col-md-3">
            <div class="card gedf-card" *ngFor='let pendingPost of pendingPosts'>
                <div class="card-body">
                    <h5 class="card-title">{{pendingPost.tittle}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">PENDING FOR APPROVE</h6>
                    <p class="card-text">{{pendingPost.content}}.</p>
                    <button  class="card-link" (click)='updatePost(pendingPost._id, "APPROVED")'>Accept</button>
                    <button  class="card-link" (click)='updatePost(pendingPost._id, "DENIED")'>Deny</button>
                </div>
            </div>
        </div>
    </div>
</div>