<nav class="navbar navbar-light bg-white">
    <a href="#" class="navbar-brand">Gluky task by Daniel Hernández</a>
    <form class="form-inline">
        <div class="input-group">
            <app-auth-button></app-auth-button>
        </div>
    </form>
</nav>



<!-- Display only for Admin -->
<app-editor *ngIf="checkRole('EDITOR')"></app-editor>

<!-- Display only for Admin & SuperAdmin -->
<app-writer *ngIf="checkRole('WRITER')"></app-writer>

<!-- *ifRoles : using on HTML Elements -->
<app-no-authenticated-view *ngIf="checkRole('NO_AUTH')"></app-no-authenticated-view>  